#calendar {
    display: flex;
    flex-direction: column;
    width:100%;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 1rem;
    border: .25rem solid var(--active-default);
    box-shadow: 0 .2rem 0 0 var(--active-darker);
}

#calendar-header {
    display: grid;
    grid-template-columns: 30px 50% 30px;
    justify-content: center;
    align-items: center;
    height:20%;

    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: var(--active-default);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
#calendar-header-date-wrapper {
    display: flex;
    flex-direction: column;
}
#calendar-header-year {
    color: var(--active-darker)
}
.calendar-arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 25px;

    cursor: pointer;
}
.calendar-arrow:hover .calendar-arrow-inner{
    background-color: white;
}

.calendar-arrow-inner {
    width: 25px;
    height: 5px;

    border-radius: 5px;
    background-color: var(--active-darker);

    transition: 175ms background-color ease-out;
}
.calendar-arrow-left-right {
    transform: rotate(45deg);
}
.calendar-arrow-right-left {
    transform: rotate(-45deg);
}


#calendar-weekdays {
    display: flex;
    flex-direction: row;
}
#calendar-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.calendar-weekday-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 56px;
    height:56px;
    background-color: var(--bg-light);
}
.calendar-day-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.calendar-day-container:hover {
    border-radius: 5px;
    background-color: var(--active-default);
    color: white;
    
}
.calendar-day-blank {
    width: 56px;
    height:56px;
    background-color: var(--bg-light);
}