.card {
    display: flex;
    justify-content: center;
    height: 140px;
    width: 160px;

    background-color: var(--grey);
    border-radius: .25rem;
    cursor: default;

    box-shadow: 0 .25rem 0 0 var(--dark-grey);
    
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:1.5rem;
    margin: 10%;
    overflow-x: hidden;
}
.card-n,
.card-title {
    font-size: 1.80rem;
    font-weight: 400;
}
.card-title {
    color: var(--dark-grey);
}
.card-n {
    color: var(--dark-grey);
}

.card.active {
    background-color: var(--active-default);
    box-shadow: 0 .25rem 0 0 var(--active-darker);
}
.card.active .card-n {
    color: var(--active-darker);
}
.card.active .card-title {
    color: var(--text-lod);
}

@media (max-width: 435px) {
    .card {
        height: 110px;
        width: 130px;
    }
    .card-n,
    .card-title {
        font-size: 1.6rem;
    }
}
@media (max-height: 950px) and (min-width:436px) {
    .card {
        height: 120px;
        width: 140px;
    }
    .card-n,
    .card-title {
        font-size: 1.5rem;
    }
}
@media (max-height: 770px) {
    .card {
        height: 90px;
        width: 125px;
    }
    .card-n,
    .card-title {
        font-size: 1.5rem;
    }
}
